.navbar{
    display: flex;
    font-style: Raleway, Arial;
    font-weight: 700;
    height: 40px;
     justify-content: space-between;
margin-left: 180px;
font-size: x-large;
 
 

}
nav{
    margin-top: 35px;
}
.home , .sneaker, .player
{
    
    color:white;
    display: flex;
    z-index: 1;
    margin-top: 35px;
    
 
}
.home{
    margin-left: 600px;
}
.player{
    margin-right: 100px;
}
.red{
    color: red;
}
.img1-container{
    position: relative;
}
.img{
    display: flex;
position: absolute;
right: -150px;
top: -57px;
height: 700px;
}
.text-container{
    
    width: 500px;
     
    margin-left: 167px;
    margin-top: 100px;
    
}
.p1{
    font-size: 23px;
    color: rgb(94, 86, 86);
    width: 350px;
}
h1{
    font-family: Raleway , Arial;
    font-weight: 700px;
    font-size: 55px;

}
.flex1{
    display: flex;
    justify-content: space-between;
}
.down-arrow{
    margin-top: 70px;
}
