.navbar{
    font-style: Raleway, Arial;
    font-weight: 700;
margin-left: 180px;
font-size: x-large;
    
 

}
.red{
    color: red;
}
.img1-container{
    position: relative;
}
.img{
position: absolute;
right: -150px;
top: -57px;
height: 700px;
}
.text-container{
    
    width: 500px;
     
    margin-left: 167px;
    margin-top: 100px;
    
}
.p1{
    font-size: 23px;
    color: rgb(94, 86, 86);
    width: 350px;
}
h1{
    font-family: Raleway , Arial;
    font-weight: 700px;
    font-size: 55px;

}
.flex1{
    display: flex;
    justify-content: space-between;
}
.down-arrow{
    margin-top: 70px;
}
